*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}




.page1-container{
   
    background-color: pink;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    overflow-x: hidden;
    
}

.btn1{
    width: 12rem;
    margin-top: 1rem;
    height: 4rem;
    border-radius:1rem;
    font-size: 1.3rem;

}
.btn1:hover{
    color: red;
    cursor: pointer;
    background: white;
    background-color: rgba(226, 222, 223, 0.8);
    

}

.page1-content{
    font-size: 5rem;

}

.page2-container{
    background-color: rgb(249, 51, 84);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    

}

.page2-content button{
margin-inline: 1rem;
padding: 2rem;
}
.page2-content p{
    margin-bottom: 3rem;
    font-size: 2rem;
    color: yellow;

}
.page2-content a img{
    height: 250px;
}
.page3-container{
    background-color:brown;
    height: 100vh;
}
.clock{
    font-size: 2rem;
    top: 2rem;
    left: 2rem;
    position: relative
}

.elon{
    height: 100px;
    width: 100px;
}

.page3-child-container{
    margin-block: 5rem;
    margin-inline: 5rem;
}
/* utilities */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}