*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
    height: 100vh;
    width: 100%;
 background: #49dad0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
 img{
    /* height: 300px;
    width: 400px; */
    margin-bottom: 2rem;
}

.input{
    width: 20rem;
    height: 2rem;
    text-align: center;
    border-radius: 5rem;
    border-color: rgb(18, 6, 6);
    border-bottom-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
.btn{
    height: 2rem;
    width: 6rem;
      border-radius: 0 10px 0 10px;
      margin-left: 5px;

}
.header{
    display: flex ;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  border-radius: 2px solid red;
  
}
.flag-img, .flag-name{
    border-radius: 2px solid rgb(36, 31, 31);
    
}
.input{
    margin-top: 1rem;
}

@media screen and( max-width:480px){
    .header{
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        border-radius: 2px solid red;
    }
}