*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:antiquewhite;
}


.products-parent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.products-child img{
width: 400px;
height: 300px;
border: 2px solid black;
}
.products-child h1,h3{
    margin-bottom: 20px;
}